In [4]:
with open("D:/spam.csv") as f:
            print(f,type(f))

<_io.TextIOWrapper name='D:/spam.csv' mode='r' encoding='cp1252'> <class '_io.TextIOWrapper'>

In [5]:
import pandas as pd
df = pd.read_csv("D:/spam.csv" , encoding='cp1252')
df.head()

     v1                                                 v2
0   ham                      Ok lar... Joking wif u oni...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  U dun say so early hor... U c already then say...
3   ham  Nah I don't think he goes to usf, he lives aro...
4  spam  FreeMsg Hey there darling it's been 3 week's n...

In [6]:
#to sort how many ham and spam message are there
df.groupby('v1').describe()

        v2
     count unique                     top freq
v1
ham   1857   1790  Sorry, I'll call later   13
spam   302    283                 #ERROR!    3

In [7]:
#display of header of dataframe spam will be 1 else 0
df['spam']=df['v1'].apply(lambda x: 1 if x=='spam' else 0)
df.head()

     v1                                                 v2  spam
0   ham                      Ok lar... Joking wif u oni...     0
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
2   ham  U dun say so early hor... U c already then say...     0
3   ham  Nah I don't think he goes to usf, he lives aro...     0
4  spam  FreeMsg Hey there darling it's been 3 week's n...     1

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df['v2'],df['spam'],test_size=0.3,random_state=42)

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [11]:
from sklearn.naive_bayes import MultinomialNB
model= MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [20]:
emails=[
    'Hey dodo ,coming for a movie tomorrow?',
    'Upto 20% discount on shoes,exclusive offer just for you',
    'Error,FreeMsg Hey there darling its been 3 weeks'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1, 1], dtype=int64)

In [17]:
    X_test_count = v.transform(X_test)
    model.score(X_test_count,y_test)

0.9799382716049383